*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #F6F5E9;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #0D3B66;
    font-family: 'DM serif';
    position: sticky;
    top: 0;
}

.logo {
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 16px;
}

.contact-ul{
    display: flex;
    align-items: center;
}

.contact-ul li{
    list-style: none;
}

.homepage-img img {
    max-width: 100%;
    display: flex;
    justify-content: center;
   
   
}

.aboutme p{
    display: flex;
    justify-content: space-between;
    max-width: 70vh;
    min-width: 50vh;
    padding:1%;
    font-family: DM serif;
    font-size: 20px;
}

.aboutme h3{
    padding:1%;
    display: flex;
    font-family: DM serif;
}

.contacts {
    padding: 1%;
}

.container {
    display: flex;
    align-items: center;
    gap: 120px;
}
